#total{
    display: flex;
    background-color: rgba(24, 5, 47, 0.886);
    color: white;
    text-transform: uppercase;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    gap: 1rem;
    text-transform: uppercase;
}
.caja-boton-continuar:hover{
    transform: scale(1.1);
}
.caja-carrito{
    padding-bottom: 15px;
}
#boton-abrir-modal{
    border: 0;
    background-color: yellow;
    padding: 1rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#main{
    min-height: 75vh;
}
.tabla-img{
    background-color: transparent;
}

