@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,87.5,200..1000;1,6..12,87.5,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 87.5,
      "YTLC" 500;
}
body{
    background-image: linear-gradient(rgb(47, 16, 43), rgb(59, 6, 59));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
/* Nav styles */
header{
    background-image: linear-gradient(rgb(41, 24, 46),rgb(39, 4, 63));
    height: 110px;
    display: flex;
    align-items: center;
    box-shadow: 0 0.2rem 0.3rem black;
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 120px;
    width: auto;
    border-radius: 50%;
    transition: all 0.4;
}
.logo img:hover{
    transform: scale(1.2);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.dropdown-item{
    font-size: 12px;
}
.nav-item{
    font-size: 20px;
    
}
.links li:hover{
    transform: scale(1.2);
}

header{
    position: relative;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}
.action-btn{
    background-color: rgb(255, 255, 255);
    color: #0c0c0c;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease ;
}
.action-btn:hover{
    transform: scale(1.3);
    color: #090909;
}
.action-btn:active{
    scale: 0.9;
}
.dropdown_menu{
    display: none;
    position: absolute;
    
    right: 2rem;
    top: 60px;
    height: 0;
    width: 250px;
    background-color: rgba(3, 2, 2, 0.839);
    border-radius: 10px;
    overflow: hidden;
}
.dropdown_menu.open{
    height: 250px;
}
.dropdown_menu li{
    padding: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dropdown_menu li .action-btn:hover{
    transform: scale(1.2);
}
.dropdown_menu{
    z-index: 1000; /
}
.puntero{
    cursor: pointer;
}
/* Resposive menu*/
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action-btn{
        display: none;
    }
    .navbar .toggle-btn{
        display: block;
        margin-right: 25px;
    }
    .dropdown_menu{
        display: block;
    }
    
}
@media (max-width: 576px) {
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}
@media (max-width: 1200px) {
    .logo {
        margin-left: 20px;
    }
}

main{
    min-height: 75vh;
}

footer{
    background-image: linear-gradient(rgb(41, 24, 46),rgb(39, 4, 63));
    transition: 0.3ms;
    box-shadow: 0 -0.2rem  black;
}
#footerlogo:hover{
    transform: scale(1.2);
}
#footerlogo img{
    height: 100px;
    width: auto;
    border-radius: 50%;
    transition: all 0.4;
}
@media screen and (min-width:0px) and (max-width: 750px) {
    #footerlogo{
        display: none;
    }  
    .cols.responsive{
        margin-top: 20px;
    }

}

@media (max-width: 470px) {
    #mapa-contacto{
        max-width: 350px;
        max-height: 250px;
        margin: 20px;
    }
}
@media  (min-width: 471px) and (max-width: 800px) {
    #mapa-contacto{
        max-width: 350px;
        max-height: 250px;
    }
}